.cover-page-image
  position: absolute
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  width: 100%
  height: 225px
  left: 0px
  top: 50px
  repeat: no-repeat
  filter: blur(2px)

.cover-logo-image
  background-image: url('../../../assets/logo.png')
  background-repeat: no-repeat
  background-size: auto
  background-position: center
  width: 95vw
  height: 194px
  border: none

.cover-page-title
  width: auto
  color: #FFF
  font-size: 36px
  font-family: Montserrat
  font-style: italic
  font-weight: 400
  line-height: normal
  top: 100px
  left: 60px
  position: absolute

.cover-description
  max-width: 700px
  color: #FFF
  font-size: 15px
  font-family: Montserrat
  font-style: italic
  font-weight: 400
  line-height: normal
  top: 170px
  left: 120px
  position: absolute
  text-wrap: balance

.profile-background
  background-image: url('../../../assets/loading.gif')
  background-repeat: no-repeat
  background-size: auto
  background-position: center
  width: 205px
  height: 205px
  border-radius: 400px
  right: 40px
  position: absolute
  top: 70px
  filter: blur(5px) brightness(0.5)

.profile-me
  background-image: url('../../../assets/profile.png')
  background-repeat: no-repeat
  background-size: auto
  background-position: center
  width: 200px
  height: 200px
  border-radius: 400px
  right: 42px
  position: absolute
  top: 70px
  filter: brightness(0.8)
