@use "src/variables"
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700")

.page-content
  min-height: 100vh
  max-width: 100vw
  top: 50px
  position: absolute
  width: 98vw

.cover-page
  min-height: 260px

.cover-page-image
  position: absolute
  background-image: url('../../../assets/covers/about.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  width: 100%
  height: 270px
  left: 0px
  top: 0px
  repeat: no-repeat
  filter: blur(2px)


.cover-page-text
  display: flex
  flex-direction: column
  margin-left: 60px

.cover-description
  display: flex
  width: 738px
  flex-direction: column
  flex-shrink: 0
  color: #FFF
  font-size: 15px
  font-family: Montserrat
  font-style: italic
  font-weight: 400
  line-height: normal
  top: 100px
  position: absolute

.cover-page-title
  display: flex
  width: 738px
  flex-direction: column
  flex-shrink: 0
  color: #FFF
  font-size: 36px
  font-family: Montserrat
  font-style: italic
  font-weight: 400
  line-height: normal
  top: 60px
  position: absolute


.profile-me
  background-image: url('../../../assets/profile.png')
  background-repeat: no-repeat
  background-size: auto
  background-position: center
  width: 200px
  height: 200px
  border-radius: 400px
  right: 42px
  position: absolute
  top: 38px

.about-content
  display: flex
  flex-direction: row
  justify-content: start
  color: #FFF
  flex-wrap: wrap
  font-family: Montserrat
  min-height: 70vh

.lateral-content
  min-width: 170px
  margin-left: 30px

.lateral-image
  background-image: url('../../../assets/goku.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  width: 300px
  height: 164px
  repeat: no-repeat
  filter: blur(1px)

.lateral-description
  display: flex
  width: 300px
  flex-direction: column
  flex-shrink: 0
  color: #FFF
  font-size: 15px
  font-family: Montserrat
  font-style: normal
  font-weight: 500
  line-height: normal

.main-content
  font-family: Montserrat
  max-width: 600px
  margin-left: 30px
