
<div class="page-content">
  <div class="cover-page">
    <div class="cover-page-image"></div>
    <div class="cover-page-text">
      <h1 class="cover-page-title">ane rodrigues</h1>
      <h2 class="cover-description">software developer | angular | UI design | C# | .NET Core | API REST</h2>
    </div>
    <div class="profile">
      <a class="profile-me" href="/about" routerLink="/about" aria-label="Sobre"></a>
    </div>
  </div>


  <div class="about-content">
    <div class="lateral-content">
      <div class="lateral-image"></div>
      <div class="lateral-description">
        Oi, eu sou a Roziana, mas pode me chamar de Ane. Mas porque Ane? Bom, a gráfia correta do meu nome é Roziana mas em casa sempre me chamaram de Rosiane, inclusive aprendi a escrever meu nome assim, com S e E no final. Eu descobri que meu nome era Roziana quando entrei na pré escola, de qualquer forma Ane e Rosiane se mantiveram como apelidos até hoje. Esse talvez seja o fun fact mais antigo da minha vida? De qualquer forma, seja bem-vindo ao meu pedacinho da internet. Abraços, Ane/Roziana/Rosiane.
      </div>
    </div>

    <div class="main-content">
      <h2>o que é este site</h2>
      <p>ainda vou descobrir mas esse é, principalmente, um espaço no qual eu possa tirar as ideias da cabeça e deixar tudo em um só lugar</p>
      <p>se fosse 2010 seria um blog, mas nessa época eu nem sonhava com isso. enfim é o meu espaço, onde quero deixar os famosos projetinhos de programação, mas também escrever sobre os livros que ando lendo, ou sobre um filme mara que assisti, essas coisas</p>
      <p>dizem que o poder não vem do conhecimento adquirido, mas do conhecimento compartilhado, então aqui estou eu, possivelmente compartilhando com um total de zero pessoas, masss se tu tá lendo isso é porque chegou em ao menos um ser humano além de mim. é um começo</p>
      <p>fique a vontade pra mandar aquela sugestão ou crítica contrutiva, entrando em contato pelo meu e-mail, linkedin, ou demais redes que estão linkadas no menu acima</p>
    </div>
  </div>

</div>





