
<app-cover-page [coverImage]="'../../../assets/covers/home.png'" [pageTitle]="'Vocabulario'" [pageSubtitle]="pageSubtitle" [displayLogo]="true"></app-cover-page>

<div class="vocabulary-content">
  <app-post [postTitle]="'Hello World!'" [postDescription]="'o primeiro post do vocabulário dev'" [postImage]="'../../../assets/posts/hello-world/Hello-World.webp'" [postLink]="'/posts/hello-world'"></app-post>
  <!-- <app-post [postTitle]="'Figma'" [postDescription]="'dasdafdsfsdfsdfsdfsd'" [postImage]="'../../../assets/posts/hello-world/moodboard.png'"></app-post> -->
</div>





