
<div class="page-content">
  <div class="cover-page">
    <div class="cover-page-image"></div>
    <div class="cover-logo-image">
      <h2 class="cover-description">
        substantivo
        1.conjunto de termos que são característicos de determinado campo de conhecimento ou atividade,
        e sua codificação, com ou sem definições; glossário. "v. médico"
        2.conjunto dos vocábulos de uma língua; léxico.
      </h2>
    </div>

    <div class="profile">
      <div class="profile-background"> </div>
      <a class="profile-me" href="/about" routerLink="/about" aria-label="Sobre"></a>
    </div>
  </div>

  <div class="vocabulary-content">
    <!-- <mat-card class="example-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card> -->

  </div>


  <div class="footer">
    <a  class="footer-item-logo" href="/" ></a>
    <a  class="footer-item-git" href='https://github.com/roziana-rdrgs' target="_blank" ></a>
    <a  class="footer-item-linkedin" href='https://www.linkedin.com/in/roziana-rdrgs/' target="_blank" ></a>
    <a  class="footer-item-insta" href='https://www.instagram.com/roziana.rdrgs/' target="_blank" ></a>
  </div>

</div>

