
<div class="post-container">
  postagem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, obcaecati soluta. A laboriosam odio magnam dolore minus debitis eaque ea! Magnam reprehenderit, aspernatur maiores ex doloremque labore iure quasi dolor!

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis cum quasi beatae, hic suscipit ipsum? Doloribus eaque consequuntur quisquam ut, suscipit numquam blanditiis voluptatum ullam voluptate, aspernatur dolorem quis!
</div>

